In [1]:
x = "This is a practice notebook"
y = 3
z = 1.983450

#using list to store the elements
a = ["Practice notebook", 3, 1.983450]
b = list(["Contra", "Call of Duty", "Counter-strike: global offensive", "Valorant", "GTA V"])

In [46]:
#to check the type of the variable
type(x)

str

In [47]:
type(y)

int

In [48]:
type(z)

float

In [49]:
type(a)

list

In [50]:
type(b)

list

In [51]:
a

['Practice notebook', 3, 1.98345]

In [52]:
b

['Contra',
 'Call of Duty',
 'Counter-strike: global offensive',
 'Valorant',
 'GTA V']

In [53]:
a[3]

IndexError: list index out of range

In [54]:
a[1]

3

In [55]:
b[4]

'GTA V'

In [56]:
#using .append to add an element into the list
b.append("Payday")

In [57]:
b

['Contra',
 'Call of Duty',
 'Counter-strike: global offensive',
 'Valorant',
 'GTA V',
 'Payday']

In [59]:
#.extend to extend the list by appending elements from another list
a.extend(b)
a

['Practice notebook',
 3,
 1.98345,
 'Contra',
 'Call of Duty',
 'Counter-strike: global offensive',
 'Valorant',
 'GTA V',
 'Payday']

In [68]:
a = (1, 2, 3)
b = (4, 5, 6)

a.append(4)
print(a)

AttributeError: 'tuple' object has no attribute 'append'

In [69]:
a_list = list(a)
a_list.append(a)
print(a_list)

[1, 2, 3, (1, 2, 3)]

In [70]:
a_list.append(4)
print(a_list)

[1, 2, 3, (1, 2, 3), 4]

In [71]:
a_list.extend(b)
print(a_list)

[1, 2, 3, (1, 2, 3), 4, 4, 5, 6]

In [76]:
list(a)

['Practice notebook', 3, 1.98345]

In [77]:
list(b)

['Contra',
 'Call of Duty',
 'Counter-strike: global offensive',
 'Valorant',
 'GTA V']

In [78]:
#in python last line execution is the priority
list(a)
list(b)

['Contra',
 'Call of Duty',
 'Counter-strike: global offensive',
 'Valorant',
 'GTA V']

In [79]:
#to get the output of both the list, use print function
print(list(a))
print(list(b))

['Practice notebook', 3, 1.98345]
['Contra', 'Call of Duty', 'Counter-strike: global offensive', 'Valorant', 'GTA V']

In [82]:
#to print both of the list in a single line
print(list(a), list(b))

['Practice notebook', 3, 1.98345] ['Contra', 'Call of Duty', 'Counter-strike: global offensive', 'Valorant', 'GTA V']

In [83]:
#works same as .extend but it requires make a new variable
a = [6, 8, 0]
b = [1, 2, 3]
c = a + b
c

[6, 8, 0, 1, 2, 3]

In [84]:
#using dictionaries
my_dictionary = {'name': 'Umang', 'age': 23, 'bday': '08 January', 'City': 'Ahmedabad'}

In [85]:
my_dictionary.keys

In [86]:
my_dictionary.keys()

dict_keys(['name', 'age', 'bday', 'City'])

In [87]:
my_dictionary.values()

dict_values(['Umang', 23, '08 January', 'Ahmedabad'])

In [88]:
my_dictionary.keys('name')

TypeError: dict.keys() takes no arguments (1 given)

In [89]:
my_dictionary.keys['name']

TypeError: 'builtin_function_or_method' object is not subscriptable

In [91]:
print(my_dictionary['name'], my_dictionary['age'], my_dictionary['bday'], my_dictionary['City'])

Umang 23 08 January Ahmedabad

In [92]:
keys = my_dictionary.keys()
keys

dict_keys(['name', 'age', 'bday', 'City'])

In [93]:
#.keys does not take any arguments
my_dictionary.keys([0])

TypeError: dict.keys() takes no arguments (1 given)

In [100]:
#to solve this error we have to make a variable and get the keys from the dictionary into a list
my_dictionary_keys = list(my_dictionary)
my_dictionary_keys

['name', 'age', 'bday', 'City']

In [101]:
my_dictionary_keys[0]

'name'

In [102]:
my_dictionary_keys[3]

'City'

In [104]:
#to access the first (n) elements and the last (n) elements from a list
list_1 = ['apple', 'tomato', 'birds', 'animals', 1, 3, 2, 5, 1, 7, 9 ]

In [109]:
#first (n) elements
list_1[:4]

['apple', 'tomato', 'birds', 'animals']

In [110]:
#last (n) elements
list_1[-7:]

[1, 3, 2, 5, 1, 7, 9]

In [112]:
#using set to get the unique elements from the list
list_2 = [1, 2, 3, 4, 4, 5, 6, 3, 1, 7, 8, 9, 7, 0]
list(set(list_2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
#set can also be used to order the unordered elements
list_3 = [1, 3, 5, 2, 7, 9, 6, 8, 0, 4]
list(set(list_3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
'word 123 word 2'.split('123')

['word ', ' word 2']

In [5]:
#using for loop
#iteration over a list
games = ['Valorant', 'CS:GO', 'Call of Duty']
for i in games:
    print(i)

Valorant
CS:GO
Call of Duty

In [8]:
#iteration over a string
word = 'Hello world!'
for letters in word:
    print(letters)

H
e
l
l
o

w
o
r
l
d
!

In [9]:
count = 0 
for i in range(10):
    count +=1

In [10]:
i

9

In [11]:
count

10

In [12]:
print(count)

10

In [17]:
#iteration over an intergers
count = 0
for i in range(1, 10):
    count +=1
    print(count)

1
2
3
4
5
6
7
8
9

In [16]:
count

9

In [20]:
#iteration over a dictionary
my_scores = {'Genetics': 52, 'Bioinformatics': 50, 'Animal biotech': 55}
for subject, score in my_scores.items():
    print(f'I scored {subject} in {score}')

I scored Genetics in 52
I scored Bioinformatics in 50
I scored Animal biotech in 55

In [22]:
my_scores = {'Genetics': 52, 'Bioinformatics': 50, 'Animal biotech': 55}
for subject, score in my_scores.items():
    print(f'I scored {score} in {subject}')

I scored 52 in Genetics
I scored 50 in Bioinformatics
I scored 55 in Animal biotech

In [23]:
#list comprehension
words = ['Hello', 'my', 'name', 'is', 'Umang']
upper_case = [words.upper() for word in words]
print(upper_case)

AttributeError: 'list' object has no attribute 'upper'

In [24]:
sentences = ['hello my name is umang', 'i am leanrning python']
upper_case = [sentence.upper() for sentence in sentences]
print(upper_case)

['HELLO MY NAME IS UMANG', 'I AM LEANRNING PYTHON']

In [25]:
words = ['Hello', 'my', 'name', 'is', 'umang']
upper_case = [word.upper() for word in words]
print(upper_case)

['HELLO', 'MY', 'NAME', 'IS', 'UMANG']

In [30]:
#conditional statements
#if
temperature = 15
if temperature <= 15:
    print('It is cold outside')

It is cold outside

In [27]:
# if-else
age = int(input('Enter your age: '))

if age>18:
    print('You are an adult')

else:
    print('You are a teenager')

You are a teenager

In [31]:
#if-elif-else
score = 85
if score >= 90:
    print('Grade A')
elif score>= 80:
    print('Grade B')
elif score>= 70:
    print('Grade C')
else:
    print('Grade D')

Grade B

In [32]:
#functions
def greet(name):
    print(f'Hello, {name}!')
greet(Umang)

NameError: name 'Umang' is not defined

In [33]:
greet('Umang')

Hello Umang!

In [7]:
#class
class dog:
    def __init__(self, name='Tuffy', breed='Pomeranian'):
        self.name = name   
        self.breed = breed 

    def bark(self):        
        print(f"Breed: {self.breed}") 
        print(f"Name: {self.name}")
        print(f"{self.name} says Woof!")

animal = dog()

In [8]:
animal = dog("Tuffy", "Pomeranian")

In [11]:
dog().bark()

Breed: Pomeranian
Name: Tuffy
Tuffy says Woof!

In [2]:
class Bankaccount:
    def __init__(self, account_number, account_holder, initial_balance=0):
        self.account_number = account_number
        self.account_holder = account_holder
        self.balance = initial_balance
    
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited Rs. {amount}. New balance is Rs. {self.balance}.")
        else:
            print("Deposit amount must be greater than zero.")
    
    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew Rs. {amount}. New balance is Rs. {self.balance}.")
        else:
            print("Insufficient funds or invalid withdrawal amount.")
    
    def inquire_balance(self):
        print(f"Account holder: {self.account_holder}, Account number: {self.account_number}, Balance: Rs.{self.balance}")

my_account = Bankaccount("454802010592470", "Umang Kevadiya", 1000)

my_account.deposit(500)
my_account.withdraw(200)
my_account.inquire_balance()

Deposited Rs. 500. New balance is Rs. 1500.
Withdrew Rs. 200. New balance is Rs. 1300.
Account holder: Umang Kevadiya, Account number: 454802010592470, Balance: Rs.1300

In [13]:
class Computer:
    def config(self):
        print("i5, 16GB Ram, 512GB SSD")

comp1 = Computer()
comp2 = Computer()

comp1.config()

i5, 16GB Ram, 512GB SSD

In [14]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [2]:
class Computer:
    def __init__(self, CPU, RAM):
        self.cpu = CPU
        self.ram = RAM

    def config(self):
        print("Config is", self.cpu, self.ram)

c1 = Computer('i5', 16)
c2 = Computer('Ryzen 3', 8)

c1.config()

Config is i5 16

In [3]:
c2.config()

Config is Ryzen 3 8

In [5]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

In [1]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [2]:
abs(-4)

4

In [4]:
abs (5.32)

5.32

In [6]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [7]:
round(4.7)

5

In [8]:
round(4.3)

4

In [9]:
round(4.5)

4

In [10]:
def least_difference(a, b, c):
    diff1 = (a - b)
    diff2 = (b - c)
    diff3 = (c - a)
    return min(diff1, diff2, diff3)

In [13]:
print(least_difference(1, 100, 40), least_difference(20, 30, 10), least_difference(10, 100, 1000))

-99 -10 -900

In [14]:
print(1, 2, 3)

1 2 3

In [15]:
print(1, 3, 4, sep = ',')

1,3,4

In [16]:
def greet(who = 'Umang'):
    print('Hello,', who)

In [17]:
greet()

Hello, Umang

In [18]:
greet(who = 'UMANG KEVADIYA')

Hello, UMANG KEVADIYA

In [22]:
def greet(who):
    print('Hello!', who)

In [23]:
greet(who = 'Umang')

Hello! Umang

In [1]:
planets = ['Earth', 'Mercury', 'Pluto', 'Venus']

In [2]:
planets.pop()

'Venus'

In [3]:
planets

['Earth', 'Mercury', 'Pluto']

In [4]:
planets.append('Venus')
planets

['Earth', 'Mercury', 'Pluto', 'Venus']

In [5]:
planets.pop('Pluto')

TypeError: 'str' object cannot be interpreted as an integer

In [6]:
planets.pop(1)

'Mercury'

In [7]:
planets

['Earth', 'Pluto', 'Venus']

In [8]:
planets.index('Earth')

0

In [9]:
'Earth' in planets

True

In [10]:
'Saturn' in planets

False

In [17]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [22]:
string = "pluto is a planet."

In [23]:
string.upper()

'PLUTO IS A PLANET.'

In [24]:
string.lower()

'pluto is a planet.'

In [25]:
string.capitalize()

'Pluto is a planet.'

In [26]:
string.startswith("Pluto")

False

In [27]:
string.startswith("pluto")

True

In [28]:
string.endswith("planet")

False

In [29]:
string.endswith("planet.")

True

In [30]:
words = string.split(', ')

In [31]:
words

['pluto is a planet.']

In [32]:
words = string.split()

In [33]:
words

['pluto', 'is', 'a', 'planet.']

In [34]:
b = "it's ok"
len(b)

7